.profile {
  max-width: 100%;
}

.profile__container {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile__box {
  max-width: 1240px;
  display: flex;
}

.profile__nav-lists {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 320px;
  height: 192px;
  justify-content: space-around;
}

.link {
  font-size: 24px;
  padding: 0;
  color: #8585ad;
  text-decoration: none;
  transition: all 0.3s linear;
}

.link:hover {
  color: #f2f2f3;
}

.active {
  color: #f2f2f3;
}

.text {
  width: 320px;
}

.buttons {
  display: flex;
  justify-content: end;
}
