.header {
  max-width: 100%;
  background-color: #1c1c21;
  min-height: 88px;
}

.header__burger {
  display: flex;
  align-items: center;
  max-width: 1240px;
  margin: 0 auto;
  justify-content: space-between;
}

.header__burger-link {
  display: flex;
  align-items: center;
  color: #8585ad;
  text-decoration: none;
  transition: all 0.3s linear;
}

.active-link {
  color: #f2f2f3;
}
.header__burger-navigation {
  display: flex;
}

.logo {
  margin-left: 112px;
}
